page-about {

  .banner {

    .background {
<<<<<<< HEAD
      opacity: 0.5;

=======
    opacity:0.5;
    width: 100%;
>>>>>>> 6a524b117ec85af7db6a30a5026a492e9941432a
    }

    .background2 {
      opacity: 0.5;

    }

    .avatar {
      border-radius: 50%;
<<<<<<< HEAD
      height: 120px;

=======
      height: 200px;
>>>>>>> 6a524b117ec85af7db6a30a5026a492e9941432a
    }
  }
  .headline {

  }

  ion-slides {

  }

}
