page-about {

  .banner {
    position: relative;

    .background {
      opacity: 0.5;

    }

    .background2 {
      opacity: 0.5;

    }

    .avatar {
      position:absolute;
      border-radius: 50%;
      height: 120px;
      right: 45%;
      top: 85%;
}
  }
  .headline {
 margin-top: 50px;
  }

  ion-slides {

  }

}
